/* CSS file sorted by:
    1) general body, list, table, form styling
    2) main page body
    3) shared elements across pages
    4) specific elements on each page 
        (in order of home, schedule, project, contact) */

/* general styling */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    font-family:  'Raleway', sans-serif;
    font-size: 90%;
    color: #666;
    background-color: #749abe;}
li {
    list-style-image: url("images/icon-plus.png");
    line-height: 1.6em;}
/* nav bar */
#header-main-menu {
    padding:20px;
}
/* table */
table {
    border-spacing: 0px;}
th, td {
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;}
th, td {
    text-align: left;
    background-color: #9fcbec;
    border-top: 1px solid #f1f8fe;
    border-bottom: 1px solid #cbd2d8;
    border-right: 1px solid #cbd2d8;}
tr.head th {
    color: #2c465c;
    background-color: #7ea9d1;
    border-bottom: 2px solid #2c465c;
    border-right: 1px solid #749abe;
    border-top: 1px solid #8fa7bd;
    text-align: center;
    /* text-shadow: -1px -1px 1px #666666; */
    letter-spacing: 0.15em;}
td {
    text-shadow: 0.5px 0.5px 0.5px #ffffff;}
tr.even td, tr.even th {
    background-color: #e8eff5;}
tr.head th:first-child {
    /* WebKit is a browser engine used in Apple's Safari browser, Amazon 
        Kindle e-book reader, BlackBerry Browser in OS 6 and above.

        Not all CSS3 properties work well in all browsers. In a way to ensure that web pages display as expected in their browsers, vendors like Mozilla and Webkit developed their own browser-compatible properties. With CSS3, many compatibility issues are now resolved.
        However, it is not unusual to still see these properties used in stylesheets. */

    /* Webkit property*/
    -webkit-border-top-left-radius: 5px;

    /* Mozilla property*/
    -moz-border-radius-topleft: 5px;

    /* CSS3 property*/
    border-top-left-radius: 5px;

    /* More on border-radius property: https://www.the-art-of-web.com/css/border-radius/ */
}
tr.head th:last-child {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;}

/* form */
fieldset {
    width: 310px;
    margin-top: 20px;
    border: 1px solid #d6d6d6;
    background-color: #ffffff;
    line-height: 1.6em;
    text-align: center;
}

input[type="text"] {
    width: 120px;
    border: 1px solid #d6d6d6;
    padding: 2px;
    outline: none;}
input[type="text"]:focus,
input[type="text"]:hover {
    background-color: #d0e2f0;
    border: 1px solid #999999;}
input[type="submit"] {
    border: 1px solid rgb(248, 197, 165);
    background-color: rgb(248, 213, 192);
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;}
input[type="submit"]:hover {
    border: 1px solid #1d2c24;
    background-color: #a6b0b8;
    color: #ffffff;
    cursor: pointer;}
.title {
    float: left;
    width: 160px;
    clear: left;}
.submit {
    width: 310px;
    text-align: right;}

/* main page body shared by all pages*/
#page {
    max-width: 1200px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    
    border: 4px  #000;
    background-color: #f6f4e8;
    vertical-align: baseline;
}
div[class*="center-mid"]{
    width: 1200px;
    padding-bottom: 15px;
    padding-top: 5px;
    background-color: #efeae6;
}

/* home page content*/
.center-text {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding:10px;
    line-height: 1.7em; 
}
h1 
{
    font-family: 'Raleway', sans-serif;
    font-size: 550%;
    text-align: center;
}
.capFirst::first-letter {
    font-size: 250%;
    font-weight: bold;
}
/* about: images */
.center-img {
    text-align: center;
}
.coverImg { 
    margin:5%;
}
#mainImg {
    width: 50%;
}
.img-2{
    margin: auto;
    width: 30%;
    height:auto;
    padding:15px;
}
.addSpace{
    padding-left: 10px;
}

/* schedule table */
.center-2{
    width: 980px;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 5px;
    }

.center-2>h1, .center-2>p{
    text-align: center;
}
.head th {
    color:#2c465c;
}
/* Hobbies page */
.center-mid h2 {
    text-align: center;
}
#introHobby {
    border: dotted 2px rgb(134, 171, 228);
    max-width: 900px;
    margin:30px auto;
    background-color: rgb(217, 226, 240);
}
#introHobby p{
    text-align: center;
    padding:15px;
    margin-left: 10px;
    max-width: 600px;
    margin:auto;
    line-height: 1.5em;
}

.img-3{
    margin: auto;
    width: 30%;
    height:auto;
    max-height: 500px;
    padding:15px;
}

/* contact form */
.contactForm {
    display:block;
    text-align: center;
    margin:auto;
}
.contactForm fieldset{
    text-align: center;
    background-color: #ffeeee;
    margin:10px;
}
.findMeAt {
    text-align: center;
    margin:0 25%;
    display:block;
}


/* footer */
.footer { 
    padding:5px;
    text-align: center;
    color:black;
    background-color: white;
}
.smlogo {
    padding:10px;
    width:30px;
    height:auto;
}
}
/* nav bar */
.menu-holder {
float: right;
max-width: 80%;
position: fixed;
text-align: center;
height: 100%;
background-color: #ffffff;
right: -100%;
top: 0;
transition: right .3s ease;
width: 100%;
overflow: auto;
max-width: 100%;
z-index: 99;
    }     

ul {
list-style-type: none;
margin: 0;
padding: 0;
    }

ul li {
    display: inline;
    padding: 10px;
    float: right;
}

ul li a, 
ul a :hover, 
ul li a:focus, 
ul li a:active {
border: none;
text-decoration: none;
color: inherit;
}
